html {
	height: 100vh;
	width: 100vw;
}

body {
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background: linear-gradient(135deg,  #351D73, #03030F, #351D73);
}
.app-launcher {
	width: 25vw;
	height: 25vw;
	margin-top: calc(25vw / 6);
	border-radius: 30%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(45deg, #e66465, #9198e5);
}
.app-logo {
	width: 70%;
	margin: auto;
	margin-top: 5%;
}
.app-name {
	color: white;
	font-family: sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 3vw;
	position: relative;
	top: 5%;
}
a {
	text-decoration: none;
}